<section>
  <div class="flex justify-center space-x-10 mt-10">
    <img src="../../../../../../assets/icons8-angular.svg" alt="hero" />
    <img
      class="object-cover h-24 w-24 rounded-full"
      src="../../../../../../assets/wingcanada.png"
      alt="hero"
    />
    <img src="../../../../../../assets/icons8-react.svg" alt="hero" />
  </div>
  <div class="text-center mt-10 dark:bg-gray-700 bg-gray-200 p-10">
    <h2 class="font-bold text-3xl leading-normal mb-7">
      Hello, I'm Wing Bui, a Front End Developer
    </h2>
    <div
      class="flex-column md:flex space-y-5 md:space-y-0 gap-10 items-stretch justify-center md:text-left"
    >
      <p class="leading-loose md:max-w-prose">
        I am a structural thinking frontend developer, who is passionate about
        building UI components and architecting frontend applications that are
        scalable and maintainable.
      </p>
      <p class="leading-loose md:max-w-prose">
        I am also an enthusiastic adopter of Test-Driven Development approach
        and always improving writing and refactoring codes which are testable.
      </p>
    </div>
  </div>
</section>
